@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ragini's Web App</h1>
    <p>Moq - Unit Test In .NET Core App Using Mock Object.</p>
</div>
